<div class="container p-0">
  <div class="card">
    <div class="card-header bg-dark text-white text-center p-4">
      <h2 class="mb-0">Personal Details</h2>
    </div>
    <div class="card-body p-3 bg-light">
      <form [formGroup]="stepOneForm" (ngSubmit)="stepOneSubmit()" autocomplete="off" novalidate #formRef="ngForm" class="Personal-Details">

        <div class="row">
          <div class="col-md-6 mb-1">
            <label for="titleName" class="form-label ps-1">Title<span class="asterisk">*</span></label>
            <select class="form-select" id="titleName" formControlName="Title" aria-label="Default select example">
              <option value="">Select Title</option>
              <option value="Mr">Mr</option>
              <option value="Mrs">Mrs</option>
            </select>
            <span class="error" *ngIf="stepOneForm.controls['Title'].hasError('required') && formRef.submitted">Please select a title</span>
          </div>
          <div class="col-md-6 mb-1">
            <label for="fname" class="form-label ps-1">First Name<span class="asterisk">*</span></label>
            <input type="text" class="form-control" id="fname" formControlName="FirstName" placeholder="Enter First Name" />
            <span class="error" *ngIf="stepOneForm.controls['FirstName'].hasError('required') && formRef.submitted">Please enter first name</span>
            <span class="error" *ngIf="stepOneForm.controls['FirstName'].hasError('minlength') && formRef.submitted">
              First name must be at least 2 characters
            </span>
            <span class="error" *ngIf="stepOneForm.controls['FirstName'].hasError('maxlength') && formRef.submitted">
              First name cannot exceed 30 characters
            </span>
            <span class="error" *ngIf="stepOneForm.controls['FirstName'].hasError('pattern') && formRef.submitted">
              First name can only contain letters and spaces
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-1">
            <label for="lname" class="form-label ps-1">Last Name</label>
            <input type="text" class="form-control" id="lname" formControlName="LastName" placeholder="Enter Last Name" />
          </div>
          <div class="col-md-6 mb-1">
            <label for="dob" class="form-label ps-1">Date of Birth<span class="asterisk">*</span></label>
            <input type="date" class="form-control" id="dob" formControlName="DateOfBirth" />
            <span class="error" *ngIf="stepOneForm.controls['DateOfBirth'].hasError('required') && formRef.submitted">
              Please enter date of birth
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-1">
            <label for="gender" class="form-label ps-1">Gender<span class="asterisk">*</span></label>
            <select class="form-select" formControlName="Gender" aria-label="Default select example">
              <option value="">Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <span class="error" *ngIf="stepOneForm.controls['Gender'].hasError('required') && formRef.submitted">
              Please select gender
            </span>
          </div>

          <div class="col-md-6 mb-1">
            <label for="phnNumber" class="form-label ps-1">Phone No.<span class="asterisk">*</span></label>
            <input type="text" class="form-control" id="phnNumber" formControlName="PhoneNumber" placeholder="Enter Phone No." />
            <span class="error" *ngIf="(stepOneForm.controls['PhoneNumber'].hasError('required')
                                     || stepOneForm.controls['PhoneNumber'].hasError('pattern')
                                     || stepOneForm.controls['PhoneNumber'].hasError('minlength')
                                     || stepOneForm.controls['PhoneNumber'].hasError('maxlength')) && formRef.submitted">
              Phone number must be a 10-digit number
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-1">
            <label for="secondryNumber" class="form-label ps-1">Secondary Phone Number</label>
            <input type="text" class="form-control" id="secondryNumber" formControlName="SecondryNumber" placeholder="Enter Secondary Phone No." />
            <span class="error" *ngIf="(stepOneForm.controls['SecondryNumber'].hasError('pattern')
                                     || stepOneForm.controls['SecondryNumber'].hasError('minlength')
                                     || stepOneForm.controls['SecondryNumber'].hasError('maxlength')) && formRef.submitted">
              Phone number must be a 10-digit number
            </span>
          </div>

          <div class="col-md-6 mb-1">
            <label for="email" class="form-label ps-1">Email Address<span class="asterisk">*</span></label>
            <input type="email" class="form-control" id="email" formControlName="Email" placeholder="Enter Email Address" />
            <span class="error" *ngIf="(stepOneForm.controls['Email'].hasError('required') 
                                      || stepOneForm.controls['Email'].hasError('email')
                                      || stepOneForm.controls['Email'].hasError('restrictedDomain')) 
                                      && formRef.submitted">
              Please enter email, example : abc&#64;gmail.com
            </span>
          </div>
        </div>

        <div class="float-end mt-4">
          <button class="button" cdkStepperNext>Next</button>
        </div>

      </form>
    </div>
  </div>
</div>