.Personal-Details {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.Personal-Details .asterisk {
  color: #C14953;
  font-weight: bold;
  font-size: 14px;
  margin-left: 2px;
}

.Personal-Details label {
  font-weight: 600;
  font-size: 14px;
  color: #4C4C47;
}

.Personal-Details input,
.Personal-Details select {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.Personal-Details input::placeholder,
.Personal-Details select.form-select {
  font-size: 14px;
}


.Personal-Details .error {
  font-size: 12px;
  color: #C14953;
  display: block;
  margin-top: 7px;

}

.Personal-Details .btn-next {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #2D2D2A;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.Personal-Details .btn-next:hover {
  background-color: #4C4C47;
}


/* Avatar File Upload */
.profile-card-image-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin: 15px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.profile-image-container {
  width: 150px;
  height: 150px;
}

.profile-image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 10%;
}

.profile-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.action-btn {
  width: 100%;
  margin: 0 5px;
}

.upload-instruction {
  font-size: 12px;
  color: #666; 
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .profile-image-container {
    width: 120px;
    height: 120px;
  }

  .overlay-btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}